.DS_Store
/.build
/Packages
/Sources/QboxCallSDK/.git
/Sources/QboxCallSDK/.gitignore
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
